:root {
  /* Define color scheme and common dimensions */
  --background-color: #f0f0f0;
  --info-tile-border: #ddd;
  --correct-color: #6aaa64;
  --present-color: #c9b458;
  --absent-color: #787c7e;
  --tile-size: 40px;
  --tile-size-small: 30px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  margin: 0; /* Reset default margin */
}

.info-board {
  text-align: left;
  max-width: 350px;
  margin: 1rem; /* Ensure some spacing around */
}

.color-info {
  list-style: none;
  padding: 0;
}

.color-info li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.info-tile {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--info-tile-border);
  margin-right: 10px;
}

.info-tile.correct {
  background-color: var(--correct-color);
}

.info-tile.present {
  background-color: var(--present-color);
}

.info-tile.absent {
  background-color: var(--absent-color);
}

.game-container {
  text-align: center;
  margin: 1rem;
}

#word-board {
  max-height: 250px;
  overflow-y: auto;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#guess-input,
#guess-button {
  margin-bottom: 1rem;
  padding: 0.625rem;
}

#guess-button {
  cursor: pointer;
}

.guess-tile {
  width: var(--tile-size);
  height: var(--tile-size);
  border: 2px solid var(--info-tile-border);
  margin: 5px;
  line-height: var(--tile-size);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

.guess-tile.correct {
  background-color: var(--correct-color);
}

.guess-tile.present {
  background-color: var(--present-color);
}

.guess-tile.absent {
  background-color: var(--absent-color);
}

@media (max-width: 600px) {
  .guess-tile {
    width: var(--tile-size-small);
    height: var(--tile-size-small);
    line-height: var(--tile-size-small);
  }
}

#try-count {
  display: none;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
  color: #333;
}

#word-info {
  text-align: left;
}
